@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F9FBFA;
    --secondary-color: #1ABC9C;
    --border-color: #494949;
    --text-color: #8E8989
}